In [1]:
import pandas as pd

In [7]:
#读取工作表SalesData
SalesData=pd.read_excel('E:\泰迪/三届/非洲通讯产品销售数据.xlsx',sheet_name='SalesData',encoding='GBK')
SalesData.head()

          日期             国家            城市       地区         服务分类     销售额     利润
0 2017-01-01  Cote d'Ivoire       Abidjan  Western   Commercial  656.96   6.57
1 2017-01-01     Madagascar  Antananarivo  Eastern       Public  875.94 -70.08
2 2017-01-01         Rwanda        Kigali  Eastern       Public  258.35  18.08
3 2017-01-01       Zimbabwe        Harare  Eastern  Residential  875.62 -35.02
4 2017-01-02       Ethiopia   Addis Ababa  Eastern  Residential  509.93  10.20

In [8]:
#读取工作表SalespersonData
SalespersonData=pd.read_excel('E:\泰迪/三届/非洲通讯产品销售数据.xlsx',sheet_name='SalespersonData',encoding='GBK')
SalespersonData.head()

,日期,销售经理,地区,销售合同,成交率,Unnamed: 5,备注：本表格中“销售合同”为“已成交合同”。
0,2017-01-01,Aiden Morris,Western,13,0.55,NaN,NaN
1,2017-01-01,Audrey Baker,Eastern,11,0.30,NaN,NaN
2,2017-01-01,Constantine Eager,Eastern,9,0.36,NaN,NaN
3,2017-01-01,Francis Martineau,Northern,11,0.22,NaN,NaN
4,2017-01-01,George O'Malley,Middle,14,0.33,NaN,NaN

# 数据预处理

In [11]:
#去除SalespersonData表中无关内容
SalespersonData.drop(['Unnamed: 5','备注：本表格中“销售合同”为“已成交合同”。'],axis=1,inplace=True)
SalespersonData.head()

          日期               销售经理        地区  销售合同   成交率
0 2017-01-01       Aiden Morris   Western    13  0.55
1 2017-01-01       Audrey Baker   Eastern    11  0.30
2 2017-01-01  Constantine Eager   Eastern     9  0.36
3 2017-01-01  Francis Martineau  Northern    11  0.22
4 2017-01-01    George O'Malley    Middle    14  0.33

* 查看缺失值情况\
行列均无缺失值无缺失值

In [12]:
SalesData.isnull().sum(),SalesData.shape#行

(日期      0
 国家      0
 城市      0
 地区      0
 服务分类    0
 销售额     0
 利润      0
 dtype: int64, (1056, 7))

In [13]:
SalespersonData.isnull().sum(),SalespersonData.shape#行

(日期      0
 销售经理    0
 地区      0
 销售合同    0
 成交率     0
 dtype: int64, (160, 5))

In [14]:
SalesData.apply(lambda x : sum(x.isnull())/len(x), axis=0)#列

日期      0.0
国家      0.0
城市      0.0
地区      0.0
服务分类    0.0
销售额     0.0
利润      0.0
dtype: float64

In [15]:
SalespersonData.apply(lambda x : sum(x.isnull())/len(x), axis=0)#列

日期      0.0
销售经理    0.0
地区      0.0
销售合同    0.0
成交率     0.0
dtype: float64

In [19]:
SalesData.describe().T[['mean', '50%', 'min', 'max']]

           mean      50%    min     max
销售额  497.643542  476.455   0.89  999.08
利润     4.757538    2.710 -77.05   95.39

In [20]:
SalespersonData.describe().T[['mean', '50%', 'min', 'max']]

          mean    50%   min    max
销售合同  9.325000  9.000  1.00  16.00
成交率   0.318917  0.305  0.11   0.58