In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('非洲通讯产品销售数据.xlsx')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 7 columns):
日期      1056 non-null datetime64[ns]
国家      1056 non-null object
城市      1056 non-null object
地区      1056 non-null object
服务分类    1056 non-null object
销售额     1056 non-null float64
利润      1056 non-null float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 57.9+ KB

In [5]:
sales_province = data[['国家','销售额','利润']]
sales_province

                               国家     销售额     利润
0                   Cote d'Ivoire  656.96   6.57
1                      Madagascar  875.94 -70.08
2                          Rwanda  258.35  18.08
3                        Zimbabwe  875.62 -35.02
4                        Ethiopia  509.93  10.20
...                           ...     ...    ...
1051                     Zimbabwe  394.28 -23.66
1052                       Malawi  333.07 -16.65
1053                      Liberia  133.26  -8.00
1054                        Kenya  737.57  36.88
1055  United Republic of Tanzania  859.82 -60.19

[1056 rows x 3 columns]

In [8]:
sales_province.to_csv('sales_province.csv')